{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.id }}{% endblock %}

{% block body %}
    <div class="principal-container">
        <div class="media">
            <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
            <div class="media-body">
                <h1 class="principal-title">{{ program.title }}</h1>
                <p>{{ program.synopsis }}</p>
                <p>Catégorie : {{ program.category.name }}</p>
                <p>Saisons :
                    {% for season in program.seasons %}
                <p>Saison :
                    {{ season.number }}</p>
                <p>Description de la saison
                    {{ season.number }}:
                    {{ season.description }}</p>
                <a href="{{ path("program_season_show", {"program_id": program.id, "season_id": season.id})}}">Voir les informations sur la saison</a>
                {% endfor %}
            </div>
        </div>

        <a href="{{ path('program_index') }}">
            Retour à la liste des programmes
        </a>
    </div>

{% endblock %}
